<html>

<body>
    <form name="form" action="/webapp/loggedin/" method="POST">{% csrf_token %}
        <div style="max-width:470px;">
            <center>
                <input type="text" style="margin-left:20%;" placeholder="Identifiant" name="username" />
            </center>
        </div>
        <br>
        <div style="max-width:470px;">
            <center>
                <input type="number" style="margin-left:20%;" placeholder="contact_number" name="contact_num" />
        </div>
        </center>
        <br>
        <div style="max-width:470px;">
            <center>
                <button style="border:0px; background-color:#4285F4; margin-top:8%;
height:35px; width:80%;margin-left:19%;" type="submit" value="Login">
                    <strong>Login</strong>
                </button>
            </center>
        </div>
    </form>
</body>

</html>